.contactBox{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(138, 138, 138);
}

.contactInfo h1{
    width: 110%;
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: black;
}

.contactInfo p{
    font-size: 20px;
    font-weight: bold;
}

.inputArea{
    width: 100%;
    height: 2.5vh;
}

.textMessage{
    width: 100%;
    height: 5rem;
}

.sendInfo{
    width: 15vh;
    height: 2rem;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.sendInfo:hover{
    transform: scale(1.25);
    transition: transform 1s ease;
}